*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  
}

html,
body {
  height: 100%;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  color: rgba($color: #ffffff, $alpha: 0.7);
  a:visited,a:active,a:link {
    color: rgba($color: #ffffff, $alpha: 0.7);
  }
  a:hover {
    color: rgba($color: #000000, $alpha: 0.4);
  }
}
body {
  font-size: 25px;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sudoku {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba($color: #ffffff, $alpha: 0.5);
  margin: 20px 0px;
}

.in-row,
.out-row {
  display: flex;
}

.box {
  margin: 5px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba($color: #ffffff, $alpha: 0.5);
  width: 50px;
  height: 50px;
}

.cell:hover {
  background: rgba($color: #000000, $alpha: 0.5);
  border: 5px solid rgba($color: #ffffff, $alpha: 0.5);
  border-right: 5px solid rgba($color: #ffffff, $alpha: 0.5);
  border-top: 5px solid rgba($color: #ffffff, $alpha: 0.5);

}

.borderRightRemove {
  border-right: none;
}

.borderTopRemove {
  border-top: none;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 20px;
  }
  .cell {
    width: 30px;
    height: 30px;
  }
}
