@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

$font: "Inter", sans-serif;
$bodyColor: #f8f9fa;
$textColor: #111111;
$fontSize:1em;



body {
  font-family: $font;
  background-color: $bodyColor;
  color: $textColor !important;
  font-size:$fontSize;
  a,
  a:hover,
  a:active,
  a:visited,
  a:link {
    color: $textColor !important;
  }

  
}
.list-group-item:hover {
    background-color: #e9e9e9;
}



.nav-link:hover {
   transition: .3s;
   color: rgb(224, 154, 23) !important;
    
}

/*
<nav class="navbar  navbar-light bg-light ">
        <!-- Navbar content -->
        <ul class="nav">
          <li class="nav-item ">
            <a href="" class="nav-link  ps-0"><i class="bi bi-house me-1"></i>Homepage</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link"><i class="bi bi-info-square me-1"></i>About</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link"><i class="bi bi-globe me-1"></i>Explore</a>
          </li>
        </ul>
        <li class="nav-item d-flex">
          <a href="" class="nav-link pe-0"><i class="bi bi-person-rolodex me-1"></i></i>Contact</a>
        </li>
      </nav>
*/